* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: borel;
	color: #d85210;
	line-height: 1.4;
}

.accordian {
	width: 700px;
	margin: 100px auto;
	/* 100px is for top and bottom
    auto is for left and right
    to make it center */
	/* background-color: rgb(241, 235, 235); */
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.num,
.text {
	font-weight: 500;
	font-size: 24px;
	/* color: #087f5b; */
}

.icon {
	width: 24px;
	height: 24px;
	stroke: #737f08;
}

.hidden-box p {
	line-height: 1.6;
	margin-bottom: 24px;
}

.hidden-box ul {
	color: #868e96f5;
	margin-left: 16px;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.item {
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
	/* horizontal offset 
    vertical offset 
    blur 
    rgba color*/
	padding: 24px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 24px;
	row-gap: 32px;
	align-items: center;
}
.hidden-box {
	grid-column: 2;
	display: none;
}

.num {
	color: rgb(58, 9, 235);
}

.open {
	color: #087f5b;
	border-top: 5px solid #087f5b;
}

.open p:first-child {
	color: #343a40;
}

.open:hover .hidden-box {
	display: block;
}

.item {
	border-radius: 12px;
}
